div img {
	border:1px solid;
    max-width: 100%;
    max-height: 100%;
}

.prod-sidebar{
	border-right:1px solid;
}

.main-row{
	min-height:1000px;
    height:100%;
}

.prod-row{
	padding:5em;
}
.prod-title{
	padding-top:3em;
	padding-bottom:3em;
}

.prod-reviews{
	padding-top:3em;
	padding-bottom:3em;
}

.prod-quantity{
	width:3em;
}