{% extends "base_generic.html" %}

{% block content %}

<body>
    
<div id="faq-body">
      <br>
      <p><b>Q: What is weBulk?</b></p>
      <p>A: weBulk is the new affordable way to purchase common household items at unprecedented discounts</p>

      <p><b>Q: How are the prices so low?</b></p>
      <p>A: weBulk users enter purchase pools to buy a product, buying items in bulk allows us to make significant savings over store retail prices!</p>

      <p><b>Q: Is weBulk legal?</b></p>
      <p>A: Absolutley!</p>

      <p><b>Q: What if I change my mind on an order?</b></p>
      <p>A: Each user is given a fixed time window to pull out of a purchase without penalty, after this time expires, a strike will be applied for late withdrawals</p>

      <p><b>Q: What happens when I get a strike on my account?</b></p>
      <p>A: Users with strikes on their account will forfeit a proportion of savings on their orders until the penalty expires</p>

      <p><b>Q: How do I start buying on weBulk</b></p>
      <p>A: Simply create an account, add a valid payment method to your account, then begin searching for items to purchase in the search bar or front page!</p>

      <p><b>Q: I wanted to buy an item but it isn't a listed product, what do I do?</b></p>
      <p>A: weBulk is constantly expanding our product offerings, submit an item request through the request page, or check back in the near future for product updates!</p>

      <p><b>Q: How do I trust the other people to follow through with bulk order purchases?</b></p>
      <p>A: weBulk handles all the purchasing logistics, so you don't have to! Simply confirm your order, and we will make sure your items are delivered to you at the price you purchased it!</p>
</div>
</body>

{% endblock %}
