{% extends "base_generic.html" %}

{% block content %}
<h1><strong>Requests</strong></h1>

<p>Requests received:</p>
<ul>
	<li><strong>Number of requests: </strong>{{num_requests}}</li>
</ul>

<div class="container-fluid" id="request-body">
  <div class="row">

    <div class="col-sm-12 req-title">
      <h3>Submit your requests here!</h3>
    </div>
	
	<div class="col-sm-3 req-title">
    <form>
    <p><br>Item Info</p>
    <div class="form-group">
      <label for="product">Name:</label>
      <input type="text" class="form-control" id="product">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea type="text" class="form-control" id="description"></textarea>
    </div>
    <div class="form-group">
      <label for="cost">Cost:</label>
      <input type="text" class="form-control" id="cost">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <h3><br>Current Requests:</h3>
    {% for r in rquests %}
    <p><strong>Votes: {{r.popularity}}</strong><br>
    		   Request for <strong>{{r.request_title}}</strong> from <strong>{{r.user}}</strong><br><br>
               {{r.request_text}}
    </p>
    {% endfor %}
      <!-- (13 days ago)<br>
      Name: Toilet paper<br>
      Description: It's toilet paper, duh. (Scott 1000 brand)<br>
      Cost: $3.99</p> -->
    


	</div>
  </div>
</div>

{% endblock %}