{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid" id="request-body">
  <div class="row">
   <div class="col-sm-12 req-title">
<h3><strong>Requests</strong></h3>
</br>
</div>
    <div class="col-sm-12 req-title">
      <h3>Submit your requests here!</h3>
      {% if user.is_authenticated %}
    <form action="" method="post">
      {% csrf_token %}
    <p><b>Item Info</b></p>
      <label>Enter Request Title:&nbsp; </label></br>{{form.product_name}}
      </br></br>
      <label style="vertical-align:top">Enter Request Description:&nbsp;</label></br>{{form.description}}
      <br>

      <input type="submit" value="Submit">
    </form>
    </br>
    {% else %}
    <p>Please login to submit request</p>
    {% endif %}
    </div>
	
	<div class="col-sm-12 req-title">
    
    <h3><br>There are currently {{num_requests}} submitted requests</h3>
    {% for r in rquests %}
    <p><strong>Votes: {{r.popularity}}</strong><br>
    		   Request for <strong>{{r.request_title}}</strong> from <strong>{{r.user.first_name}}</strong><br><br>
               {{r.request_text}}</br>
               {% if user.is_authenticated %}
               <form action="" method="post">
               {% csrf_token %}
                <input type="hidden" value="pop" name="pop">
                <input type="hidden" value="{{r.request_title}}" name="rtitle">
                <button type="submit" value=""><span class="fa fa-thumbs-o-up"></span></button>
               </form>
               {% endif %}
    </p>
    {% endfor %}
      <!-- (13 days ago)<br>
      Name: Toilet paper<br>
      Description: It's toilet paper, duh. (Scott 1000 brand)<br>
      Cost: $3.99</p> -->
    


	</div>
  </div>
</div>

{% endblock %}