{% extends "base_generic.html" %}

{% block content %}
<h1 style="text-align:center"><strong>Welcome to your weBulk account, {{ user.first_name }}!</strong></h1>

<div class="container-fluid">
  <div class="row">
    <div class ="col-sm-3 item">
      <h12><strong>Your Account</strong></h12>
      <div class ="col-sm-12">
        <h8><a href="#">Settings</a></h8>
      </div>
      <div class ="col-sm-12">
        <h8><a href="{% url 'terms' %}">Terms and Conditions</a></h8>
      </div>
    </div>
    <div class ="col-sm-6">
      <div class = "col-sm-12 reqs">
        <h12><strong>Your Requests</strong></h8>
        <div class = "col-sm-12">
          <p><br><strong>You requested:</strong><br>
     (1 days ago)<br>
     Name: Toilet paper<br>
     Description: Toilet paper.<br>
     Cost: $3.99</p>
        </div>
      </div>

    </div>
    <div class= "col-sm-3 cart">
      <h2>Items in Cart</h2>
      <div class ="col-sm-12 prod">
        <h2>Scott 1000 Toilet Paper</h2>
      </div>
      <div class = "col-sm-12">
        <img src ="images/scott1000.png" />
  </div>
  <div class ="col-sm-12">
    <h3>Unit Price: $3.99</h3>
    <h4>Quantity: 2</h4>
    <button class="check-btn">Checkout!</button>
  </div>
</div>
</div>
</div>


{% endblock %}
