{% extends "base_generic.html" %}

{% block content %}
{% load static %}


<div class="container-fluid">
<h1 style="text-align:center"><strong>Welcome to your weBulk account, {{ user.first_name }}!</strong></h1>
</br>
  <div class="row">
    <div class ="col-lg-3 item">
      <h4><strong>Your Account</strong></h4>
      <div class ="col-sm-12">
        <h8><a href="#">Settings</a></h8>
      </div>
      <div class ="col-sm-12">
        <h8><a href="{% url 'terms' %}">Terms and Conditions</a></h8>
      </div>
    </div>
    <div class = "col-lg-3 reqs">
      <h4><strong>Your Requests</strong></h4>
        <div class = "col-sm-12">
          {{user.first_name}}
          {% for r in reqs %}
          <p><strong>Votes: {{r.popularity}}</strong><br>
           Request for <strong>{{r.request_title}}</strong><br>
               {{r.request_text}}
          </p>
          {% endfor %}
        </div>
      </div>

   <div class ="col-lg-6" style="border:solid 1px;padding:10px">
   <h4><strong>Your Cart</strong></h4>
     {% for item in items %}
     <tr>
      <td class="col-md-3">
        <div class="media">
          <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{% static item.image%}" style="width: 72px; height: 72px;"> </a>
          <div class="media-body">
            <h6 class="media-heading"><a href="{{item.get_absolute_url}}">{{item.name}}</a></h6>
              <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
            </div>
          </div>
        </td>
        <td class="text-right"><strong>Unit Price: ${{item.price}}</strong></td><br>
        <td class="text-right"><strong>Quantity: {{item.quantity}}</strong></td>
      </tr>
      {% endfor %}
      <button class="check-btn" style="float: right;">Checkout!</button>
    </div>
</div>
</div>


{% endblock %}