{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="container-fluid">
	<div class="main-row row">
		<div class="col-sm-3 prod-sidebar">
			<h5>Filter Products</h5>
		</div>
		<div class="col-sm-9">
			<div class="row prod-row">
				<div class="col-sm-12 prod-title">
					<h3>Scott 1000 Toilet Paper</h3>
				</div>
				
				<div class="col-sm-3">
					<img src="{% static 'images/scott1000.png'%}" style="width:200px;height:200px;" />
				</div>
				<div class="col-sm-9">
					<p>{{description}}</p>
					<h5>Unit Price: {{price}}</h5>
					<label>Quantity:</label>
					<select class="prod-quantity">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select>
					<button class="buy-btn">Add to Cart</button>
				</div>
				<div class="col-sm-12 prod-reviews">
					<h3>Reviews</h3>
				</div>
				<div class="col-sm-12">
					<div class="review-header">
						<span class="rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating"> 
						<meta itemprop="ratingValue" content="1"> 
						<meta itemprop="bestRating" content="5"> 
						<span class="bv-rating-stars-container" style="font-size:2em;color:gold;"> 
						<abbr title="1 out of 5 stars." style="width:20% !important;" aria-hidden="true"> {{score1}} / 5 </abbr>
						<br/>
						</span> 
						</span>    
       
						<h5 class="review-author"> {{reviewer1}} </h5> 
						<span class="review-time">· 10 days ago &nbsp;</span> 
					</div>
					<div class="review-content">
						<p>{{review1_text}}</p>
					</div>
					<div class="review-header">
						<span class="rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating"> 
						<meta itemprop="ratingValue" content="5"> 
						<meta itemprop="bestRating" content="5"> 
						<span class="bv-rating-stars-container" style="font-size:2em;color:gold;"> 
						<abbr title="5 out of 5 stars." style="width:20% !important;" aria-hidden="true"> {{score2}} / 5 </abbr>
						<br/>
						</span> 
						</span>    
       
						<h5 class="review-author"> {{reviewer2}} </h5> 
						<span class="review-time">· 12 days ago &nbsp;</span> 
					</div>
					<div class="review-content">
						<p>{{review2_text}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}