{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="container-fluid">
	<div class="main-row row">
		<div class="col-sm-3 prod-sidebar" style="border-right:solid 1px;">
			<h5>Filter Products</h5>
  
            {% if search %}
             <p>Search query: {{search}}</p>
             {% endif %}
            <form action="" method="post">
            {% csrf_token %}
            {% for cat in categories %}
                {% if cat.id|stringformat:"i" in checks %}
                <label>{{cat}}</label>&nbsp;<input type="checkbox" name="checks[]" value="{{cat.id}}" checked="checked" /></br>
                {% else %}
                <label>{{cat}}</label>&nbsp;<input type="checkbox" name="checks[]" value="{{cat.id}}" /></br>
                {% endif %}
            {% endfor %}
                <input type="submit" value="Filter">
            </form>
            </br>
            <button onclick="return clearSearch()">Clear All</button>

		</div>
		<div class="col-sm-9">
			 <h1>Products</h1>

            {% if product_list %}
            <ul>

            {% for products in product_list %}
            <li style="list-style:none">
                <img width="150px" height = "150px" src="{% static products.image %}" />
                <a href="{{ products.get_absolute_url }}">{{ products.name }}</a> <b>{{products.price}}</b>
            </li>
            {% endfor %}

            </ul>
            {% else %}
            <p>There are no products to display</p>
            {% endif %} 
		</div>
	</div>
</div>

{% endblock %}