{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="container-fluid">
	<div class="main-row row">
		<div class="col-sm-3 prod-sidebar">
			<h5></h5>
		</div>
		<div class="col-sm-9">
			<div class="row prod-row">
				<div class="col-sm-12 prod-title">
					<h3>{{product.name}}</h3>
				</div>
				
				<div class="col-sm-3">
					<img src="{% static product.image %}" style="width:200px;height:200px;" />
				</div>
				<div class="col-sm-9">
					<p>{{product.description}}</p>
					<h5>Unit Price: {{product.price}}</h5>
                    
                    <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="cart" name="cart">
					<label>Quantity:</label>
					<select class="prod-quantity" name="quant">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select>
                    {% if user.is_authenticated %}
					<button type="submit" class="buy-btn">Add to Cart</button>&nbsp;{{added}}
                    {% else %}
                    <button class="buy-btn" disabled>Login to enable cart</button>
                    {% endif %}
                    </form>
				</div>
				<div class="col-sm-12 prod-reviews">
					<h3>Reviews</h3>
				</div>
				<div class="col-sm-12">
                {%for rv in rvw%}
					<div class="review-header">
						<span class="rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating"> 
						<meta itemprop="ratingValue" content="1"> 
						<meta itemprop="bestRating" content="5"> 
						<span class="bv-rating-stars-container" style="font-size:2em;color:gold;"> 
						<abbr title="1 out of 5 stars." style="width:20% !important;" aria-hidden="true"> {{rv.display_rating}} / 5 </abbr>
						<br/>
						</span> 
						</span>    
       
						<h5 class="review-author"> {{rv.user.first_name}} </h5> 
					</div>
					<div class="review-content">
						<p>{{rv.review_text}}</p>
					</div>
                    {% endfor %}
                    {% if not rvw %}
                    <p>No reviews yet</p>
                    {% endif %}
                    <h4>Write a review:</h4>
                    {% if user.is_authenticated %}
                        <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" value="review" name="review">
                              <label>Enter Product Rating:&nbsp; </label></br>{{form.rating}}
                              </br></br>
                              <label style="vertical-align:top">Enter Review Text:&nbsp;</label></br>{{form.review_text}}
                              <br>

                              <input type="submit" value="Submit">
                            </form>
                    {% else %}
                        <p>Sign in to write review</p>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}